{{>header}}
<title>Furniture Hub | about</title>
{{>navbar}}
<div class="container-fluid mt-2">
    <h5 class="background text-center text-light p-2">about us</h5>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                about our services
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, accusantium voluptatem, reiciendis ea
                laboriosam aliquam, temporibus magni fuga sunt minus sed laborum natus dolores? Voluptatum ratione
                blanditiis animi. Dolor ex unde reiciendis eaque autem voluptate. Commodi consectetur magnam, temporibus
                doloremque sequi ipsum omnis explicabo quasi provident, maxime in qui quis!
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                about our team
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eveniet laboriosam voluptatibus consectetur
                iste voluptas distinctio sapiente, rem qui laborum? Magnam omnis illo quas consequuntur praesentium
                nulla suscipit, unde nihil nemo natus. Iste cum vel inventore similique saepe voluptatibus consequuntur
                et quasi itaque placeat. Blanditiis magni impedit harum. Maxime, repellendus?
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                about our company
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat unde dolor possimus sint fuga
                dolore optio aliquam, molestiae officia facilis, odit quod! Error qui perspiciatis id harum voluptas
                cumque, hic suscipit laudantium blanditiis necessitatibus veritatis est ratione molestias quos rerum
                minima magnam laboriosam vitae debitis fugit illum unde. Suscipit.
            </div>
        </div>
    </div>
</div></div>
{{>footer}}