{{>header}}
<title>Furniture Hub | service</title>
{{>navbar}}
<div class="container-fluid">
    <h5 class="background text-light text-center w-100 p-2 mt-1">our services</h5>
    <div class="service1">
        <img src="./images/p15.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service2">
        <img src="./images/p11.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service1">
        <img src="./images/p12.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service2">
        <img src="./images/p13.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service1">
        <img src="./images/p14.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service2">
        <img src="./images/p15.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service1">
        <img src="./images/p11.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service2">
        <img src="./images/p12.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service1">
        <img src="./images/p13.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
    <div class="service2">
        <img src="./images/p14.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque est similique ut amet? Saepe
            cupiditate sint natus ab tenetur ipsum sapiente cumque animi nulla veritatis voluptates dignissimos hic
            repellendus voluptate voluptatem, eius quam, itaque ratione iste delectus odit ea eum? Pariatur veritatis ut
            eligendi molestias odio sunt culpa fugiat.</p>
    </div>
</div>
{{>footer}}